/*Css página Homepage*/

/*Hover dos botões*/
.hover:hover {
  background-color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity));
  color: white !important;
}

/*Hover dos cards*/
.card_hover:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  border-color: blue !important;
}

/*Altura do navbar*/
.navbar {
  height: 68px;
  padding: 0;
}

@media (max-width: 768px) {
}

/*Preencher todo o carrosel com a cor do fundo*/
.carousel-item .container-fluid {
  height: 100%;
  background-size: cover;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

/*Retirar o brilho da imagem do container do "Explora o mundo connosco"*/
.fundo_escuro {
  filter: brightness(20%);
}

/*Largura do botão explorar do container do "Explora o mundo connosco"*/
.largura_bt {
  width: 150px;
}
