/*Altura do navbar*/
.navbar {
  height: 68px;
  padding: 0;
}

.hover:hover {
  background-color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity));
  color: white !important;
}

.card_hover:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  border-color: blue !important;
}
