/*Css página Homepage*/

/*Hover dos botões*/
.hover:hover {
  background-color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity));
  color: white !important;
}

/*Hover dos cards*/
.card_hover:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  border-color: blue !important;
}

/*Altura do navbar*/
.navbar {
  height: 68px;
  padding: 0;
}

/*Preencher todo o carrosel com a cor do fundo*/
#carouselExampleDark {
  height: 450px !important;
}

.carousel-inner,
.carousel-item {
  height: 100% !important;
}

.carousel-item .container-fluid {
  height: 100% !important;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

/*Retirar o brilho da imagem do container do "Explora o mundo connosco"*/
.fundo_escuro {
  filter: brightness(20%);
}

/*Largura do botão explorar do container do "Explora o mundo connosco"*/
.largura_bt {
  width: 150px;
}

@media (max-width: 768px) {
  .remove_mobile {
    display: none;
  }

  #carouselExampleDark {
    height: 1000px !important;
  }

  .centrar_texto_mobile {
    text-align: center !important;
  }

  .centrar_bt_mobile {
    justify-content: center !important;
  }
  .float-start {
    float: none !important;
  }
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
